h1 {
	color: rgb(193, 24, 196);
	font-family: "Slabo 27px", serif;
	text-align: center;
}

img {
	border-radius: 8px;
}

#address {
	color: ;
	font-family: "Slabo 27px", serif;
}

#previousjob {
	
}

#training {
	
}


