/* stylesheet for template */
body{
  background-image: url("../images/galaxy.jpg");
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  font-family: "Rock Salt",cursive;
  color: white;
}

h3 {
  font-family: "Titillium Web", sans-serif;
  color: white;
}

.header {
  margin: 5% 0;
  justify-content: center;
}

#moon-phases {
  font-family: "Rock Salt",cursive;
  background-color: Transparent;
  background-repeat: no-repeat;
  padding: 10px;
  border-radius: 50%;
  border-color: white;
}

#moon-phases:hover{
  font-family: "Rock Salt",cursive;
  background-color: white;
  color: #9e3b7e;
  outline-color: #9e3b7e;
  border-radius: 50%;
  padding: 10px;
}

.display-results {

  justify-content: center;
}

.display-input {
  justify-content: center;
}

#display-here {
  font-family: "Titillium Web", sans-serif;
  margin: 2% 10% 10% 10%;
}

#city-country {
  border: rgb(85,85,85) solid 3px;
  padding: 5%;
  text-align: center;
  background-color: rgb(85,85,85);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
