body{
   background-image: url("../Images/burlap-fabric.jpg");
		/* Set a specified height, or the minimum height for the background image */
	 min-height: 500px;
	 /* Set background image to fixed (don't scroll along with the page) */
	 background-attachment: fixed;
	 /* Center the background image */
	 background-position: center;
	 /* Set the background image to no repeat */
	 background-repeat: no-repeat;
	 /* Scale the background image to be as large as possible */
	 background-size: cover;
}

div.transbox {
    margin: 10px;
		padding: 10px 20px 10px 20px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 1;
}

.row {
	margin: 0;
}

.header{
	margin-top: 20px;
	justify-content: center;
}

h1 {
	font-family: "Poiret One", cursive;
	font-style: bold;
	font-size: 48px;
	color:  rgb(185, 122, 86);
}

h2 {
	font-family: "Shadows Into Light", cursive;
	color: rgb(185, 122, 86);
}

h3 {
	font-family: "Shadows Into Light", cursive;
	color: rgb(185, 122, 86);
}

img {
	border-radius: 25%;
	width: 300;
}
